
body{
    background-color: #000;
    max-height: 100vh;
    overflow-x: hidden;
    color: $primary-color;     
   position: static;
    @include breakpoint(md){
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
    }
    main{
        height: auto;
        align-items: center;
        display: block;
        justify-content: center;
        @include breakpoint(md){
            display: flex;
            height: 82vh;
            flex-grow: 1;
        }
    }
}

body > iframe {
    display: none;
  }
  
a{
    text-decoration: none;
}
#landing{
    position: relative;
    height: auto;
    @include breakpoint(md){
        height: 100vh;
    }
}
header {
    display: inline-flex;
    justify-content: space-between;
    padding:10px 0px;
    width: 100%;
    position: relative;
    .header-logo{
        display: inline-block;
    }
    .head-right{
        button{
            margin: 0 auto;
            @include breakpoint(sm){
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
  
  }
  .total-mint-detail{
     top: 2%;
    right: 0;
    padding:10px 30px;
    position: static;
    @include breakpoint(sm){
        position: absolute;
    }
    //  border-left: 2px solid $primary-color;
    // // border-bottom: 2px solid $primary-color;
    // border-radius: 10px;
    // box-shadow: 4px 2px 10px 2px #ddd;
    ul{
        li{
            text-align: left;
            margin-bottom: 10px;
            font-size: 10px;
            @include breakpoint(sm){
                text-align: right;
                font-size: 12px;
            }
            strong{
                padding: 0;
                @include breakpoint(sm){
                    padding: 10px 10px;
                }
            }
        }
    }
}
  .button-animation {
    animation: border-animate 3s linear infinite;

  }

  .text-color {
    color:$text-color
  }

  .default-font-size {
    font-size: 18px;
  }

  .default-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // .card__line{
    //     position: absolute;
    //     display: none;
    //     animation: 2s 1s linear infinite;
    //     &.card__line_left{
    //         left: 0;
    //   `      bottom: -100%;
    //         width: 0.2em;
    //         height: 100%;
    //         background-color: white;
    //         animation-name: to-top;
    //     }
    //     &.card__line_right{
    //         animation-name: to-bottom;
    //         background-color: white;
    //         right: 0;
    //         top: -100%;
    //         width: 0.2em;
    //         height: 100%;
    //     }
    //     &.card__line_top{
    //         width: 100%;
    //         height: 0.2em;
    //         top: 0;
    //         left: -100%;
    //         animation-delay: 1.5s;
    //         animation-name: to-right;
    //         background-color: white;
    //     }
    //     &.card__line_bottom{
    //         bottom: 0;
    //         right: -100%;
    //         width: 100%;
    //         height: 0.2em;
    //         background-color: white;
    //             animation-delay: 1.5s;
    // animation-name: to-left;

    //     }
    // }
  }
  
  .index-home-section{
    width: 90%;
    .banner-content{
        display: flex;
        align-items:stretch;
        flex-direction: column;
        height: 100%;
        position: relative;
        
        .text-content{
            width: 100%;
            @include breakpoint(sm){
                width: 80%;
            }
            .banner-title{
                display:inline-block;
                width: 100%;
                padding-bottom: 80px;
                h1{
                    color: $primary-color;
                    text-transform: capitalize;
                    font-size: 20px;
                    padding:10px 0px;
                    @include breakpoint(sm){
                        font-size: 40px;
                    }
                    &:nth-child(2){
                        text-align:center;
                        display: block;
                      span{
                        display: inline-block;
                        float: none;
                        background-color: $secondary-color;
                        color: white;
                       padding-right: 50px;
                       padding-top: 15px;
                       padding-bottom: 15px;
                       padding-left: 20px;
                        text-transform: uppercase;
                        position: relative;
                        &:after{
                            content: '';
                            width:30px;
                            height: 5px;
                            position: absolute;
                            right: 10px;
                            bottom: 5px;
                            background-color: #fff;
                            animation: blink 0.8s linear infinite;
                        }
                        @include breakpoint(sm){
                    
                        }
                      }
                  
                    }
                }
            }
    
            .banner-text{
                float: none;
                width: 100%;
               
               
                p{
                    display: block;
                    width: 100%;
                    color: $primary-color;
                    line-height: 2.5;
                    font-size: 10px;
                    position: relative;
                    padding-left:30px;
                    @include breakpoint(sm){
                        font-size: 12px;
                    }
                    span{
                        color: $secondary-color;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        background-image:url(../images/icons/chevron.svg);
                        width: 15px;
                        height: 25px;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
               
            }
           
        }
        .banner-bottom{
            width: 100%;
            margin: 0 auto;
           
            .bottom-content{
                width: 100%;
                padding-left: 0px;
                @include breakpoint(sm){
                    width: 90%;
                }
                .bottom-title{
                    background-color: #424242;
                    padding: 10px 0px;
                    
                    h6{
                        color: $primary-color;
                    }
                }
                .banner-image-sprite{
                    border-bottom: 8px solid #fff;
                    flex-wrap: wrap;
                    @include breakpoint(md){
                    
                        flex-wrap: nowrap;
                    }
                    .single-image-holder{
                        width:33%;
                        height:95px;    
                       
                        @include breakpoint(md){
                            width: 10%;
                        }
                    }
                }
                
            }
            .below-bottom-content{
                .bottom-left{
                    padding: 30px 0px;
                    padding-left: 0px;
                    width: 100%;
                    @include breakpoint(sm){
                        width: 50%;
                    }
                   @include breakpoint(md){
                    width: 50%;
                   }
                }
              
            }
          
            .bottom-right{
                display: block;
                height: auto;
                align-items: end;
               
                @include breakpoint(sm){
                    display: flex;
                    height: 100%;
                }
               .img-btn-wrap{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                @include breakpoint(sm){
                    
                }
               }
               .img-flamesword{
                width: 125px;
                height: 125px;
                margin:0 auto;
                @include breakpoint(sm){
                    display: block;
                }
                .lifeline_heart{
                    position: relative;
                    &.low-heart{
                        svg{
                            animation: pulse 0.8s linear infinite;
                            
                        }
                     
                    }
                    &.nil-heart{
                        svg{
                            animation: pulse 0.5s linear infinite;
                        }
                     
                    }
                    &.medium-heart{
              
                        svg{
                            animation: pulse 1.2s linear infinite;
                            position: relative;
                        }

                       
                    }
                    &.full-heart{
                        svg{
                            animation: none;
                            box-shadow: none!important;
                        }
                      
                    }
                }
               }
                .image-holder{
                    height: 60%;
                    &.fire-back{
                        height: 180px;
                    }
                }
                .wr-primary-theme-btn{
                    width: 100%;
                }
            }
        }
        .brick-imgt{
            left: auto;
            right: 0;
        
            @include breakpoint(sm){
                z-index: -1;
            }
            .brick-flame-wrap{
                .brick-icon-wrap{
                    justify-content: right;
                    &:nth-child(1){
                        justify-content: right;
                        .brick-icon{
                            &:nth-child(1){
                                margin-left: 0%;
                            }
                            &:nth-child(2){
                                margin-right: -10%;
                            }
                        }
                    }
        
                    &:nth-child(2){
                        .brick-icon{
                            &:first-child{
                                display: none;
                            }
                        }
                    }
                }
            }
           
        }
    }
  }
  .bottom-line-grp{
    width: 50%;
    @include breakpoint(md){
        width: 65%;
    }
    span{
        width: 100%;
        display: block;
        position: relative;
        height: 8px;
        display: none;
        &::after{
            content: "";
            right: 14%;
            position: absolute;
            top: 0;
            width: 3%;
            background-color: white;
            height: 8px;
        }
        &:nth-child(2){
            &::after{
                right: 12%;
            }
            
        }
        &:nth-child(3){
            &::after{
                right: 10%;
            }
            
        }
        &:nth-child(4){
            &::after{
                right: 8%;
            }
           
        }
        &:nth-child(5){
            &::after{
                right: 6%;
            }
           
        }
        &:nth-child(6){
            &::after{
                right:4%;
            }
           
        }
        &:nth-child(7){
            &::after{
                right:2%;
            }
           
        }
        &:nth-child(8){
            &::after{
                right:0%;
            }
           
        }
        &:nth-child(9){
            &::after{
                right:-2%;
            }
           
        }
        @include breakpoint(sm){
            display: block;
        }
    }
}
  footer{
    background-color: #242424;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    @include breakpoint(sm){
        position: absolute;
        bottom: 0;
        margin-top: 0;
    }
    .footer-content{
        padding:10px 0px;
        padding-left: 20px;
        .footer-content-wrap{
            padding: 10px 0px;
            display: inline-block;
            @include breakpoint(sm){
                padding: 0;
                
            }
            a,p{
                color: $primary-color;
                font-size: 12px;
            }
            ul{
                margin-bottom: 0;
                li{
                    a,p{
                        color: $primary-color;
                        font-size: 12px;
                        display: block;
                        padding: 0px 0px;
                        padding-right: 20px;
                        margin-bottom: 0;
                        cursor: pointer;
                        @include breakpoint(sm){
                            padding: 0px 25px;
                        }
                    }
                }
            }
            &.footer-right{
                margin-left: 0px;
                @include breakpoint(sm){
                    margin-left: 20px;
                    display: inline-block;
                }
                ul{
                    float: right;
                    margin-bottom: 0;
                    li{
                        a{
                            font-size: 10px;
                            @include breakpoint(sm){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
  }

  // Custom modal
//   .modal-overlay {
//     width: 100%;
//     height: 100vh;
//     background-color: #1E1E1E;
//     opacity: 0.9;
//   }

  .modal-border {
    background-color: #090909;
    border-radius: 10px;
    box-shadow: 0 0 0 0 #CFB56A, 0 5px 0 0 #CFB56A, -5px 0 0 0 #CFB56A;
  }

  .mint-modal{
   background-color: #090909;
   border-radius: 10px;
   position: relative;
   box-shadow: 0 0 0 0 #CFB56A, 0 5px 0 0 #CFB56A, -5px 0 0 0 #CFB56A;
  }

  .mint-modal-header {
    display: flex;
    margin-top:20px
  
  }
  .mint-modal-header-title {
    display: flex;
    justify-content: center;
    color:$primary-color;
    align-items: center;
}

.mint-modal-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.mint-modal-header-icon:hover{
    cursor: pointer;
}
.modal-backdrop{
    background-color: #1E1E1E;
    &.show{
        opacity: 0.9;
        width: 100%;
    }
}

.hide-scrollbar  {
    overflow-y: hidden; 
}

.show-scrollbar {
    overflow-y: scroll;
}
.collection-frame{
   
    background-color: #242424;
    height: 460px;
    margin: 20px 0px;
    padding: 10px 120px;
    border-radius: 20px;
    .col-md-4{
        .collection-card{
            margin:0px 0px 15px;
            background-color:#686868 ;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .card-img{
                height: 100px;
                width: 100px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &:nth-child(4){
            .collection-card{
            margin-bottom: 0;
        }
    }
        &:nth-child(5){
            .collection-card{
            margin-bottom: 0;
        }
    }
        &:nth-child(6){
            .collection-card{
            margin-bottom: 0;
        }
        }
    }
   
}
.mint-modal-header-title {
    font-size:18px ;
    font-weight: 400px ;
}

.collection-frame::-webkit-scrollbar {
    width: 4px; /* Adjust the width of the scrollbar */
  }
  
  .collection-frame::-webkit-scrollbar-track {
    background-color: #242424; /* Set the background color of the scrollbar track */
  }
  
  .collection-frame::-webkit-scrollbar-thumb {
    background-color: $primary-color; /* Set the background color of the scrollbar thumb */
  }
  
  .privacy-modal::-webkit-scrollbar {
    width: 4px; 
  }
  .privacy-modal::-webkit-scrollbar-track {
    background-color: #242424; /* Set the background color of the scrollbar track */
  }
  .privacy-modal::-webkit-scrollbar-thumb {
    background-color: $primary-color; /* Set the background color of the scrollbar thumb */
  }

.mint-modal-body-card {
    width: 148px;
    height: 148px;
    background-color:#424242;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .mint-char-list{
        overflow: hidden;
        opacity: 0;
        position: absolute;
        &.animate-list{
            opacity: 1;
            position:static;
            animation: randomize 0.5s linear infinite ;
            li{
                padding: 20px;
                border-bottom: 2px solid #000;
            }
        }
       
    }
    &.hero-card{
        border: 4px solid $primary-color;
        border-radius: 10px;
      
        &::before{
            content: '';
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            z-index: 2;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../images/stars.gif);
        }
    }
  
}
.modal-dialog{
    margin-bottom: 0;
}
.mint-modal-body {
    height: 100%;
    text-align: center;
}

.mint-modal-btn {
    width:284px;
    height: 71px;
    margin-top: -20px;
}

.close-btn:hover {
    cursor: pointer;
}

.success-mint {
    margin-bottom: 20px;
}

.mint-modal-body-card-wrapper {
    .flame-holder{
        width: 15%;
    }
}

// disconnet wallet modal
.connect-wallet-container {
    width: 401px;
    height: 415px;
    padding:20px 10px;
    opacity: 1;
    background-color: #000;
    
}
.connet-wallet-header {
    display: flex;
    justify-content: space-between;
}

.connet-wallet-title {
    font-size: 18px;
    font-weight: 400px;
}
.connect-wallet-body {
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    align-items: center;
}

.wallet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.wallet-img {
    width:40px;
    height: 40px;
}
.wallet-list-item {
    width: 268px;
    height: 60px;
    padding:10px;
    cursor: pointer;
    transition: all 0.4s linear;
    margin-bottom: 20px;
    // &-active{
    //     background-color: #333333;
    // }
    &:hover{
        background-color: #333333;
    }
}


.wallet-list-item-active {
    background-color: #333333;
}

.connet-wallet-btn {
    background-color: #A48837;
    width: 142px;
    height: 3px;

}

.wallet-text {
    margin-left:10px
}


//disconnect wallet
.disconnect-wallet {
    background-color: #1E1E1E;
    // width: 818px;
    width: 60%;
    height: 206px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

// .modal-content {
//     width: 818px;
//     height: 206px; 
//     border-radius: 10px;
//     background-color: #1E1E1E;
// }

.disconnet-wallet-btn {
    width: 160px;
    height: 40px;
}

    .side-bottom{
        p{
            color: $primary-color;
        }
        .bottom-image-wrap{
            .img-wrap{
                width: 100px;
                height: 100px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .bottom-line-grp{
                position: relative;
                padding-top: 5px;
                margin-bottom:60px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        height: 6px;
                        top: 0;
                        width: 90%;
                        background-color: white;
                    }
                    span{
                        
                        &::after{
                            right: 5%;
                            width: 8%;
                        }
                        &:nth-child(2){
                            &::after{
                                right: -2%;
                            }
                            
                        }
                        &:nth-child(3){
                            &::after{
                                right: -8%;
                            }
                            
                        }
                        &:nth-child(4){
                            &::after{
                                right: -14%;
                            }
                        
                        }
                        &:nth-child(5){
                            &::after{
                                right: -20%;
                            }
                        
                        }
                        &:nth-child(6){
                            &::after{
                                right:-26%;
                            }
                        
                        }
                        &:nth-child(7){
                            &::after{
                                right:-32%;
                            }
                        
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        height: 6px;
                        background-color: white;
                        width: 30%;
                        right: -60%;
                    } 
                }
            }
        }

        .modal-overlay{
            .modal-dialog{
                max-width: 100%;
                height: 100%;
                height: 100%;
                margin-top: 0;
                padding-top: 20px;
                background-color: transparent;
                position: relative;
                display: flex;
                align-items: center;
                .modal-content{
                    border-radius: 10px;
                    background-color: #1E1E1E;;
                    .mint-modal{
                        margin: 20px auto;
                        padding:30px;
                        width: 95%;
                        @include breakpoint(sm){
                            width: 30%;
                        }
                        .mint-modal-body-card{
                            margin: 0 auto;
                            margin-bottom:20px;
                        }
                        &.story-modal {
                     
                            padding-right: 0;
                            max-width: 900px;
                            width: 100%;
                            overflow-x: hidden;
                            width: 90%;
                            height: 90vh;
                            overflow-y: scroll;
                            margin-top: 20px;
                            @include breakpoint(sm){
                                width: 900px;
                            }
                            .story-content-p {
                                line-height: 25px;
                                font-size: 10px;
                                @include breakpoint(sm){
                                    font-size: 12px;
                                }
                                .story-modal-title {
                                    font-size: 18px;
                                }
                            }
                            &::-webkit-scrollbar {
                                width: 4px;
                              }
                              &::-webkit-scrollbar-track {
                                background: #252525;
                              }
                              &::-webkit-scrollbar-thumb {
                                background: $primary-color;
                              }
                              &::-webkit-scrollbar-thumb:hover {
                                background: #A48837;
                              }
                        }
                        &.faq-modal{
                            width: 100%;
                            @include breakpoint(md){
                                width: 50%;
                            }
                            .faq-card{
                                ol{
                                    li{
                                        padding: 10px 0px;
                                        font-size: 10px;
                                        @include breakpoint(sm){
                                            font-size: 12px;
                                        }
                                        span{
                                            color: #A48837;
                                            font-size: 16px;
                                            &::first-letter{
                                                font-size: 16px;
                                            }
                                        }
                                        p{
                                            margin: 10px 0px;
                                            padding-left: 15px;
                                            position: relative;
                                            &::before{
                                                content: '';
                                                 
                                                top: 7px;
                                                position: absolute;
                                                left: -20px;
                                                width: 15px;
                                                height: 5px;
                                                background-color: $primary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.connect-wallet-container{
                            width: 95%;
                            @include breakpoint(sm){
                                width: 30%;
                            }
                        }
                    }
                   
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 100%;
                    opacity: 0.5;
                    background-color: #1E1E1E;
                    z-index: -1;
                }
            }
        }




.story-content {
    position: relative;
    display: block;
    align-items: end;
    @include breakpoint(md){
        display: flex;
    }
}

.story-content-img {
    width: 205px;
    height: 120px;
    margin-right: -50px;
}

.disconneted-frame{
    flex-direction: column;
    height: 100%;           
}
.sucess-text{
    position: relative;
    padding: 25px 15px;
    width: 80%;
    margin: 0 auto;
        &::before{
            content: '';
            width: 95%;
            left: 2%;
            top: 10%;
            height: 95%;
            position: absolute;
            z-index: 1;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../images/Vector.png);
        }
        &::after{
            content: '';
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url(../images/Vectoback.png);
        }
    p{
        position: relative;
        z-index: 2;
        color: #090909;
        margin-bottom: 0;
    }

}
.sucessBox{
    .gif-holder{
        width: 35%;
        height: auto;
        margin: 0px auto 15px;
        img{
            margin-bottom: 15px;
        }
    }
}
.deposit-modal{
    background-color: #252525;
    padding: 10px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
    @include breakpoint(sm){
        width: 50%;
    }
    @include breakpoint(md){
        width: 25%;
    }
    .modal-header{
        text-align: left;
        border-bottom: 0;
        position: relative;
        h4{
            align-items: left;
        }
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .modal-body{
        width: 100%;
        form{
            display: flex;
            flex-wrap: wrap;
       
            .depo_selector{
                width: 100%;
                height: 80px;
                position: relative;
                border-radius: 10px;
                margin-right: 15px;
                margin-bottom: 15px;
                
                input{
                    opacity: 0;
                    z-index: 2;
                    width: 100%;
                    position: relative;
                    height: 100%;
                    &:checked{
                        &~label{
                            background-color: $primary-color;
                            color: white;
                            border: 1px solid #f5f5f5;
                            box-shadow: inset 0px 0px 4px 3px #ddd;
                        }
                    }
                }
                label{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    display: flex;
                    border-radius: 10px;
                  
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s linear;
                    top: 0;
                    height: 100%;  
                    color: white;
                    font-size: 18px;
                    font-weight: 800;
                    border: 2px solid #696969;
                    box-shadow: none;
                    background-color: #e5c050;
                }
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
        }
    }
   
}

.apt-btn{
    position: relative;
    display: block;
    &::after{
        content: 'APT';
        font-size: 7px;
        width: auto;
        height: auto;
        margin-left: 2px;
        margin-bottom: -5px;
        color: $primary-color;
       
    }
    &.large{
        &:after{
            position: absolute;
            font-size: 8px;
            color: white;
            right: 5px;
            bottom: 10px;
        }
    }
}
.collection-frame .col-md-4 .collection-card {
    margin: 0px 0px 15px;
    background-color: #2e2e2e;
    height: 200px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-mystry-box{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    .item-image{
        width: 300px;
        height: 300px;
        position: relative;
        z-index: 9;
        animation: rotation 1s linear infinite;
        
        img{
            filter: drop-shadow(2px 2px 10px #ddd); 
        }
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        left: 0;
        top: 0;
        position: absolute;
    }
    &.box-hidden{
        display: none;
    }
}

// logo update
// privacy policy text update ->show in page